body {
  font-size: 32px;
  margin: 10;
  padding: 0 2rem;
}

.firstTable {
  border-collapse: collapse;
  table-layout: fixed;
}

.firstTable thead {
  text-align: bottom;
  background: #e5ff00;
  border-bottom: 2px;
}

.firstTable td:nth-child(odd) {
  background: #9fdcff;
}

.firstTable th:hover {
  background: #1ee96c;
}

.firstTable th:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}
